<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1rnBJyXQBPkTzl4pXm6HvD9sQrF9_86w</string>
	<key>GCM_SENDER_ID</key>
	<string>55730687807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookbazar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bookbazar-3dbca</string>
	<key>STORAGE_BUCKET</key>
	<string>bookbazar-3dbca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55730687807:ios:1dcb2ca430b69179c94d8a</string>
</dict>
</plist>